{% extends 'bootstrap.html' %}

{% load static %}

{% block title %}Login{% endblock %}
{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static "app/css/signin.css" %}" />
{% endblock %}

{% block bootstrap3_content %}
    <div class="container">
        <form role="form" class="form-signin" method="post" action="{% url 'login' %}"> {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}

            <h2 class="form-signin-heading">Please sign in</h2>

            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>


            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        </form>
    </div>

{% endblock %}
