{% extends "bootstrap.html" %}
{% load static %}
{% load bootstrap3 %}
{% load mytags %}

{% block bootstrap3_extra_head %}
    <script src="{% static "sammy/sammy-latest.min.js" %}"></script>
    <script src="{% static "sammy/plugins/sammy.template.js" %}"></script>
    <link rel="stylesheet" href="{% static "app/css/dashboard.css" %}" />
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block bootstrap3_content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Knx Charts Dashboard</a>
            </div>


            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'admin:index' %}">Django admin</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
                </ul>
                <p class="navbar-text navbar-right">Witaj, {{ user.username }}</p>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="{% active '^/$' %}"><a href="{% url 'home' %}">Przeglądaj</a></li>
                    <li class="{% active 'objects' %}"><a href="{% url 'objects' %}">Lista objektów</a></li>
                    <li class="{% active 'create_chart' %}"><a href="{% url 'create_chart' %}">Wykresy</a></li>
                </ul>

                {% if user_charts %}
                    <ul class="nav nav-sidebar">
                    {% for chart in user_charts %}
                        <li class="">
                            <a href="/charts/#/show/{{ chart.id }}">{{chart.name}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="content-main">
                <!-- There go content -->
                {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
                {% block content %}(no content){% endblock %}

            </div>
        </div>
    </div>

{% endblock %}