{% extends "knxDashboard/knxDashboard.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %} Dashboard | Wykresy {% endblock %}

{% block content %}{% endblock %}

{% block bootstrap3_extra_script %}
    <style>
        .form-group.required .control-label:after {
            color: #d00;
            content: "*";
            position: absolute;
            margin-left: 2px;
            top: 5px;
        }

        .disabled {
            pointer-events: none;
        }

        .table > tbody > tr > td[colspan="6"] {
            padding: 0;
        }

        .loading {
            display: none;
            text-align: center;
            margin: 20px auto;
        }

        .glyphicon-refresh-animate {
            -animation: spin .7s infinite linear;
            -webkit-animation: spin2 .7s infinite linear;
        }

        @-webkit-keyframes spin2 {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from {
                transform: scale(1) rotate(0deg);
            }
            to {
                transform: scale(1) rotate(360deg);
            }
        }
    </style>

    <script src="{% static 'highcharts/highstock.js' %}"></script>
    <script src="{% static 'highcharts/modules/exporting.js' %}"></script>
    <script src="{% static 'highcharts/modules/no-data-to-display.js' %}"></script>
    <script src="{% static 'app/js/djangoCSRF.js' %}"></script>
    <script src="{% static 'app/js/pagination.js' %}"></script>
    <script src="{% static 'jquery/js.cookie.js' %}"></script>

    <script src="{% static 'jquery/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'jquery/select2/js/i18n/pl.js' %}"></script>

    <script src="{% static 'bootstrap-daterangepicker/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'app/js/kncChart.js' %}"></script>

    <link href="{% static 'jquery/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet"/>

{% endblock %}