{% extends "knxDashboard/base.html" %}
{% load static %}
{% load bootstrap3 %}


{% block title %} Dashboard {% endblock %}

{% block content %}

    <h1>Dashboard</h1>
    <p>Tutaj będzie zawartość</p>


{% endblock %}



