{% extends "knxDashboard/knxDashboard.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %} Dashboard | Lista obiektów {% endblock %}

{% block content %}
    <h1>Lista obiektów monitorowanych przez serwer</h1>

    <div class="table-responsive">
        <table class="table table-hover" id="knxObjectsList">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Obj id</th>
                <th>Obj type</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
        </ul>
    </nav>


    <!-- Modal confirm -->
    <div class="modal fade" id="modalConfirm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-danger">Czy na pewno chcesz usunąć obiekt?</h2>
                </div>
                <div class="modal-body" style="padding:20px 30px;">
                    <p class="lead">Usunięcie obiektu spowoduje utratę zgromadzonych danych i jest nieodwracalne!</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger pull-left" data-dismiss="modal" id="delete">
                        <span class="glyphicon glyphicon-remove"></span> Usuń
                    </button>

                    <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">Anuluj</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal edit -->
    <div class="modal fade" id="modalEdit" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal hedaer-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body" style="padding:20px 30px;">
                    <form class="form-horizontal" id="modal-edit-form" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="test">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="obj-id">Obj id:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="obj-id" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="type">Obj type:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="type" placeholder="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-left" data-dismiss="modal" id="update">
                        <span class="glyphicon glyphicon-edit"></span> Zapisz zmiany
                    </button>

                    <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">Anuluj</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block bootstrap3_extra_script %}
    <style>
        .disabled {
            pointer-events: none;
        }
    </style>
    <script src="{% static 'app/js/djangoCSRF.js' %}"></script>
    <script src="{% static 'app/js/pagination.js' %}"></script>
    <script src="{% static 'jquery/js.cookie.js' %}"></script>
    <script>
        (function ($) {
            var app = $.sammy('#content-main', function () {
                this.disable_push_state = true;
                this.use('Template');

                this.get('#/', function (context) {

                    var cur_page = (typeof this.params.page === 'undefined') ? 1 : this.params.page;
                    var per_page = 100;

                    var obj_url = '/api/objects/?page=' + cur_page;

                    context.log('objects url: ', obj_url);


                    $.getJSON(obj_url, function (data) {

                        context.renderEach('{% static 'templates/knxObjectListItem.template' %}', 'item', data.results)
                            .replace('#knxObjectsList tbody');

                        var num_pages = Math.ceil(data.count / per_page);
                        if (num_pages > 1) { // show pages buttons
                            var pages_list = paginate(cur_page, num_pages);

                            //$.each(pages_list, function (i, item) {
                            //    context.log(item.url, '-', item.text);
                            //});

                            context.renderEach('{% static 'templates/knxObjectListPages.template' %}', 'page', pages_list)
                                .replace('.pagination');
                        }
                    }).fail(function (jqxhr, textStatus, error) {
                            context.render('{% static 'templates/knxObjectListError.template' %}', {error: jqxhr.responseJSON})
                                .replace(context.$element());

                        });
                });

                this.post('#/remove', function (context) {
                    // DELETE /api/objects/{id}/
                    var tApp = this.app;

                    var obj_id = this.params['id'];
                    var obj_url = '/api/objects/' + obj_id;

                    $.ajax({
                        url: obj_url,
                        cache: false,
                        method: 'DELETE',
                        success: function (result) {
                            tApp.refresh(); // TODO refresh only one row. result = edited row
                                            // TODO notification
                        }
                    }).fail(function (jqxhr, textStatus, error) { // TODO error message
                            context.render('{% static 'templates/knxObjectListError.template' %}', {error: jqxhr.responseJSON})
                                .replace(context.$element());
                        });
                });

                this.post('#/edit', function (context) {
                     var tApp = this.app;

                    var obj_id = this.params['id'];
                    // RuntimeError: You called this URL via PATCH, but the URL doesn't end in a slash and you have
                    // APPEND_SLASH set. Django can't redirect to the slash URL while maintaining PATCH data. Change
                    // your form to point to 127.0.0.1:8000/api/objects/4/ (note the trailing slash), or set
                    // APPEND_SLASH=False in your Django settings.
                    var obj_url = '/api/objects/' + obj_id + '/';

                    context.log(this.params['form']);

                    var form_data = this.params['form'];

                    $.ajax({
                        url: obj_url,
                        method: 'PATCH',
                        data: form_data,
                        success: function(result){
                            tApp.refresh(); // TODO the same as above
                        }
                    }).fail(function(jqxhr, textStatus, error){
                        //context.render('{% static 'templates/knxObjectListError.template' %}', {error: jqxhr.responseJSON})
                        //        .replace(context.$element());
                    });


                });


            });

            $(function () {
                app.run('#/');

                // on remove
                $('#content-main').on('click', '.remove', function (event) {
                    event.preventDefault();

                    var $link = $(this);
                    $("#modalConfirm").modal({backdrop: 'static', keyboard: false})
                        .one('click', '#delete', function (event) {
                            app.runRoute('post', '#/remove', {id: $link.data('id')});
                        });
                });


                // on edit
                $('#content-main').on('click', '.edit', function (event) {
                    event.preventDefault();
                    // TODO find better solution
                    var inputs = [
                        'input#name',
                        'input#obj-id',
                        'input#type'
                    ];
                    var i = 0;

                    $(this).closest('tr').children().slice(1, 4) // get only name, obj_id, type
                        .each(function () {
                            $(inputs[i++]).val($(this).text());
                        });

                    var $link = $(this);
                    $("#modalEdit").modal({backdrop: 'static', keyboard: false})
                        .one('click', '#update', function (event) {
                            app.runRoute('post', '#/edit', {
                                id: $link.data('id'),
                                form: {
                                    name:   $('form#modal-edit-form input#name').val(),
                                    obj_id: $('form#modal-edit-form input#obj-id').val(),
                                    type:   $('form#modal-edit-form input#type').val()
                                }
                            });
                        });
                });


            });
        })(jQuery);

    </script>

{% endblock %}