{% extends "knxDashboard/base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %} Dashboard | Ustawienia globalne aplikacji {% endblock %}

{% block content %}

    {% if form.fields %}
        <form role="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons submit='Zapisz' %}{% endbuttons %}
            {# <input type="submit" value="Save" class="default" />  #}
        </form>

    {% else %}
        <p>You don't have permission to edit values.</p>
    {% endif %}

{% endblock %}
